ul {
  margin-bottom: 0px;
}

li {
  list-style: none;
}

.todo_result_area {
  .todo_info_area {
    font-size: 22px;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 30px;
  }
}
